.name{
    transform: scale(1.5);
    /* transform-origin: top left; */
    width: 200px;
    padding: 20px;      
    color: red;
    text-align: center;
    border: 1px solid blue  ;
    transition: transform 30s ease-in;
}
.name:hover{
    transform: translateY(100px);
}
.learn:hover{
    transform: rotate(360deg);
    
}